{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
table {
  width: 50%;
}
</style>
<title>Add game</title>
<h1>Add game</h1>
<p>This is the template that is directly the child of the templates directory</p>

 <table>
        <tr>
            <th>Game name</th>

        </tr>
        {% for obj in objs %}
        <tr>

            <td>{{ obj.name }}</td>


        </tr>
         {% endfor %}
    </table>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}


    <button type="submit" class="btn btn-success">Save game</button>
  </form>
{% endblock %}