<!DOCTYPE html>
{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
</style>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1>Player win data</h1>

<h1>testing area</h1>

<table>
        <tr>
            <p>Game: {{ game }}</p>
            <p>Player: {{ player }}</p>
            <p>Opponent: {{ opponent }}</p>
        </tr>
        {% for obj in p_data %}

            <td>{{ obj }}</td>

        </tr>
        {% endfor %}
    </table>


<h1>Future features</h1>
<p></p>
<strong>
graphs - summary<br>
line graph cumulative wins over time<br>
</strong>

</body>
{% endblock content %}